table,
td {
  /* border: none;
  border: 1px solid black; */
  border-collapse: collapse;
  text-align: center;
}
table {
  border-radius: 15px;
  overflow: hidden;
}
tr:nth-child(even) {
  background-color: rgb(193, 191, 191);
}
tr:first-child {
  background-color: rgb(8, 162, 67);
  font-weight: 600;
}
td {
  padding: 5px 10px;
}
tr:hover {
  background-color: blueviolet;
}
